@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300;400&display=swap");
html,
body {
  font-family: "Kanit", sans-serif;
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

.fascia {
  height: 100vh;
}

.fascia .header {
  height: 10%;
}

.fascia .hero {
  height: 90%;
}
